<h3>Detalles Del Contacto</h3>
<div>
    <div>
        <label><b>ID: </b> {{ usuario.id }}</label>
    </div>

    <div>
        <label><b>Nombre: </b> {{ usuario.nombre }}</label>
    </div>

    <div>
        <label><b>Apellido: </b> {{ usuario.apellido }}</label>
    </div>

    <div>
        <label><b>Email: </b> {{ usuario.email }}</label>
    </div>

    <div>
        <label><b>Numero Cel/Tel: </b> {{ usuario.numero }}</label>
    </div>

    <div>
        <label><b>Fecha: </b> {{ usuario.fecha }}</label>
    </div>

    <div>
        <label><b>Direccion: </b> {{ usuario.direccion }}</label>
    </div>

    <div>
        <label><b>Tipo De Contato: </b> {{ usuario.tipoContacto }}</label>
    </div>

    <div>
        <label><b>Origen: </b> {{ usuario.origen }}</label>
    </div>
</div>
